.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 30px;
  background: white;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* LEFT + RIGHT sections */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/* Center Logo */
.nav-logo img {
  height: 80px;
  object-fit: contain;
}

/* Search icon */
.search-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Make navbar responsive */
@media (max-width: 900px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .nav-logo img {
    height: 40px;
  }
}

.nav a,
.nav p,
.nav span,
.nav li {
  color: black;
}
